.property-item{
	margin-bottom: 25px;
}

#intModal .modal-body{
	padding: 0;
}

#intModal .modal-body p{
	margin: 0;
}

#intModalClose{
	position: relative;
	top: 15px;
	right: 10px;
}

.property-item{
	padding: 10px 0 0 10px;
}

.property-item:hover{
	box-shadow: 0px 0px 5px gray;
}

hr{
	border-top: 1px solid #ced1d6;
}