<div class="container">
  <nav class="navbar navbar-default">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="" class="navbar-brand">EASY HOMES</a>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="isLoggedIn"  routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
        <!-- <li *ngIf="isLoggedIn"  routerLinkActive="active"><a routerLink="myProperty">My Properties</a></li> -->
        <li routerLinkActive="active"><a routerLink="property">All Properties</a></li>
        <li *ngIf="isLoggedIn"  routerLinkActive="active"><a routerLink="addProperty">Add Property</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn" routerLinkActive="active"><a routerLink="login">Login</a></li>
        <li *ngIf="!isLoggedIn" routerLinkActive="active"><a routerLink="signUp">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  <div class="row text-right">
    <div class="col-md-12">
      <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
